<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.woopy.mapper.TypeMapper">
    <cache></cache>

    <update id="updateById" parameterType="type">
        update t_type
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getAllList" parameterType="Map" resultType="Type">
        SELECT * FROM t_type
        WHERE is_delete = 0
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <insert id="save" parameterType="Type">
        INSERT INTO t_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="getAllType" resultType="Type">
        select * from t_type where is_delete = 0
    </select>

    <select id="getTypyTop" resultType="Type">
        select * from t_type where is_delete = 0 order by num DESC limit 0,#{size}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM t_type where is_delete = 0
    </select>


    <select id="selectById" resultType="Type">
        select * from t_type where id = #{id}
    </select>


    <select id="selByName" resultType="Type">
        select * from t_type where name = #{name} and is_delete = 0
    </select>

    <update id="deleteBatch">
        UPDATE t_type
        SET is_delete = 1
        WHERE id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>